<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授课管理页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 工具栏 -->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">授课编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="teachCourseNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">教师编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="teacherNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">课程编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="courseNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">班级编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="clazzNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">授课状态</label>
                <div class="layui-input-inline">
                    <select name="state" class="layui-select">
                        <option value="">选择授课状态</option>
                        <option value="0">正在授课</option>
                        <option value="1">已经结课</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>

<!-- 数据表格 -->
<div>
    <table class="layui-hide" id="teachCourseTable" lay-filter="teachCourseTable"></table>
    <!-- 表格顶部按钮 -->
    <div id="teachCourseToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-normal"><span class="layui-icon layui-icon-add-1"></span>添加授课</button>
        <button type="button" lay-event="batchDelete" class="layui-btn layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
    </div>
    <!-- 表格行内按钮 -->
    <div id="teachCourseRowBar" style="display: none;">
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
    </div>
</div>

<!-- 添加的弹出层 -->
<div style="display: none; padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <input type="hidden" name="id">
        <input type="hidden" name="teachCourseNo">
        <div class="layui-form-item input-item">
            <label for="teacherNo">请选择授课教师</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="teacherNo" name="teacherNo" class="layui-select" lay-filter="teacherSearch" lay-verify="required" >
                    <option value="">请选择授课教师</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="courseNo">请选择授课课程</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="courseNo" name="courseNo" class="layui-select" lay-search="" lay-filter="courseSearch" lay-verify="required" >
                    <option value="">请选择授课课程</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="clazzNo">请选择授课班级</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="clazzNo" name="clazzNo" class="layui-select" lay-search="" lay-filter="courseSearch" lay-verify="required" >
                    <option value="">请选择授课班级</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="state">请选择授课状态</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="state" name="state" class="layui-select" lay-search="" lay-filter="courseSearch" lay-verify="required" >
                    <option value="" selected>请选择授课状态</option>
                    <option value="0">正在授课</option>
                    <option value="1">已经结束</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="upperNum">授课上限人数</label>
            <input type="number" placeholder="请输入授课上限人数" autocomplete="off" id="upperNum" name="upperNum" class="layui-input" lay-verify="required">
        </div>
        <div class="layui-form-item input-item">
            <label for="remark">备注</label>
            <input type="text" placeholder="请输入备注" autocomplete="off" id="remark" name="remark" class="layui-input">
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit"><span class="layui-icon layui-icon-add-circle"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //加载表格数据
        var tableIns = table.render({
            elem: '#teachCourseTable'
            ,height: 'full'
            ,url:'/teachCourse/loadAllTeachCourse'
            ,toolbar: '#teachCourseToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '授课列表'
            ,page: true
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', align:'center'}
                ,{field:'teachCourseNo', title:'授课编号', align:'center'}
                ,{field:'teacherNo', title:'教师编号', align:'center'}
                ,{field:'teacherName', title:'教师名字', align:'center'}
                ,{field:'courseNo', title:'课程编号', align:'center'}
                ,{field:'courseName', title:'课程名称', align:'center'}
                ,{field:'clazzNo', title:'班级编号', align:'center'}
                ,{field:'clazzName', title:'班级名称', align:'center'}
                ,{field:'state', title:'授课状态', align:'center', templet:function (data) {
                        if(data.state == 0) return '正在授课';
                        else return '已经结课'
                    }}
                ,{field:'studentNum', title:'授课学生人数', align:'center'}
                ,{field:'upperNum', title:'授课上限人数', align:'center'}
                ,{field:'testType', title:'考察方式', align:'center', templet:function (data) {
                        if(data.testType == 0) return '考察';
                        else return '考试';
                    }}
                ,{field:'remark', title:'备注', align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#teachCourseRowBar', align:'center'}
            ] ]
        })
        //工具栏表单模糊查询
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        })
        //表格顶部监听事件
        table.on("toolbar(teachCourseTable)",  function(obj){
            addOperation({});
            switch(obj.event){
                case 'add':
                    openAddLayer();
                    break;
                case 'batchDelete':
                    batchDelete();
                    break;
            }
        })
        //表格行内监听事件
        table.on("tool(teachCourseTable)",  function(obj){
            //获取当前行数据并传入
            var data = obj.data;
            //为表单填入选择框选项
            addOperation(data);
            switch(obj.event){
                case 'delete':
                    deleteTeachCourse(data);
                    break;
            }
        })
        //存储弹出层，用于在提交更改后关闭
        var mainIndex;
        //存储弹出层对应后端接口
        var url;
        //打开用于数据添加的弹出层
        function openAddLayer() {
            //每次打开新增弹出层时，清空隐藏栏中的id
            $("input[name='id']").val("");
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px', '600px'],
                title:"新增授课信息",
                success:function () {
                    //重置表单
                    $("#dataFrm")[0].reset();
                    url = '/teachCourse/addTeachCourse';
                }
            })
        }
        //为弹出层的下拉选择框填充数据
        function addOperation(data) {
            //教师下拉框
            $.ajax({
                url: '/teacher/loadAllTeacher',
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (teacherData) {
                    var inform = '';
                    //每次加载时清空原数据
                    $('#teacherNo').children().remove();
                    //重新载入一条提示信息
                    $('#teacherNo').append(new Option('请选择授课教师', ''));
                    $.each(teacherData.data, function (index, value) {
                        $('#teacherNo').append(new Option(value.name, value.teacherNo));// 下拉菜单里添加元素
                    });
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
            //课程下拉框
            $.ajax({
                url: '/course/loadAllCourse',
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (courseData) {
                    //每次加载时清空原数据
                    $('#courseNo').children().remove();
                    //重新载入一条提示信息
                    $('#courseNo').append(new Option('直接选择或搜索选择授课课程', ''));
                    $.each(courseData.data, function (index, value) {
                        $('#courseNo').append(new Option(value.name, value.courseNo));// 下拉菜单里添加元素
                    });
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
            //班级下拉框
            $.ajax({
                url: '/clazz/loadAllClazz',
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (courseData) {
                    //每次加载时清空原数据
                    $('#clazzNo').children().remove();
                    //重新载入一条提示信息
                    $('#clazzNo').append(new Option('直接选择或搜索选择授课班级', ''));
                    $.each(courseData.data, function (index, value) {
                        $('#clazzNo').append(new Option(value.name, value.clazzNo));// 下拉菜单里添加元素
                    });
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
        }
        //添加和修改的提交
        form.on("submit(doSubmit)", function(data) {
            $.post(url, data.field, function (res) {
                if(res.code == 0){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })

            return false;
        })
        //批量删除方法
        function batchDelete() {
            //得到选中行
            var checkStatus = table.checkStatus('teachCourseTable');
            //获得选中行数量
            var dataLength = checkStatus.data.length;
            if(dataLength > 0){
                //询问是否删除
                layer.confirm('确定要删除这些数据吗?', {icon: 3, title:'提示'}, function(index){
                    //获得选中行数据
                    var data = checkStatus.data;
                    //返回字符串
                    var ids = '';
                    $.each(data, function (index, item) {
                        if(index == 0){
                            ids += "ids=" + item.id;
                        }else{
                            ids += "&ids=" + item.id;
                        }
                    });
                    $.post("/teachCourse/batchDeleteTeachCourse", ids, function (res) {
                        if(res.code == 0){
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                    layer.close(index);
                });
            }else{
                layer.msg("请选中操作行");
            }
        }
        //单条删除方法
        function deleteTeachCourse(data) {
            //询问是否删除
            layer.confirm('确定要删除这条数据吗?', {icon: 3, title:'提示'}, function(index){
                //返回单个id
                $.post("/teachCourse/deleteTeachCourse", {id : data.id}, function (res) {
                    if(res.code == 0){
                        tableIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }
    })
</script>
</body>
</html>