<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告查看页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 工具栏 -->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">公告编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="noticeNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">公告标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="noticeTitle" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">发布者</label>
                <div class="layui-input-inline">
                    <input type="text" name="createBy" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>

<!-- 数据表格 -->
<div>
    <table class="layui-hide" id="noticeTable" lay-filter="noticeTable"></table>
    <!-- 表格行内按钮 -->
    <div id="noticeRowBar" style="display: none;">
        <button type="button" lay-event="show" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-about"></span>查看公告</button>
    </div>
</div>

<!-- 查看公告弹出层 -->
<div style="display: none; padding: 5px" id="showNoticeDiv">
    <h2 id="show_title" align="center" style="font-weight: bold"></h2>
    <div style="text-align: right;">
        发布人：<span id="show_createBy"></span>
    </div>
    <hr>
    <div id="show_content"></div>
</div>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //加载表格数据
        var tableIns = table.render({
            elem: '#noticeTable'
            ,height: 'full'
            ,url:'/notice/loadAllNotice'
            ,toolbar: '#noticeToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '系统公告列表'
            ,page: true
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', align:'center'}
                ,{field:'noticeNo', title:'公告编号', align:'center'}
                ,{field:'noticeTitle', title:'公告标题', align:'center'}
                ,{field:'createBy', title:'发布者', align:'center'}
                ,{field:'remark', title:'备注', align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#noticeRowBar', align:'center', width:'20%'}
            ] ]
        })
        //工具栏表单模糊查询
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        })
        //表格行内监听事件
        table.on("tool(noticeTable)",  function(obj){
            //获取当前行数据并传入
            var data = obj.data;
            switch(obj.event){
                case 'show':
                    openShowLayer(data);
                    break;
            }
        })
        //存储弹出层，用于在提交更改后关闭
        var mainIndex;
        //打开用于公告内容展示的弹出层
        function openShowLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#showNoticeDiv"),
                area:['800px', '600px'],
                title:"查看公告",
                success:function () {
                    $("#show_title").html(data.noticeTitle);
                    $("#show_createBy").html(data.createBy);
                    $("#show_content").html(data.noticeContent);
                }
            })
        }
    })
</script>
</body>
</html>