<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<h2 th:text="${msg}"></h2>
<form class="layui-form" method="get" action="/login/adminLogin">
    <div class="layui-form-item">
        <label class="layui-form-label">用户账号</label>
        <div class="layui-input-block">
            <input type="text" name="no" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型</label>
        <div class="layui-input-block">
            <input type="radio" name="userType" value="1" title="管理员" checked>
            <input type="radio" name="userType" value="2" title="教师">
            <input type="radio" name="userType" value="3" title="学生">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="/layui/layui.js"></script>
<script>
    layui.use(["form", "layer"], function () {
        var form = layui.form;
        var $ = layui.jquery;
    })
</script>
</body>
</html>