<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教学计划管理页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 工具栏 -->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学院名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="deptName" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">专业名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="majorName" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">课程名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="courseName" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">年级</label>
                <div class="layui-input-inline">
                    <input type="text" name="grade" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">学期</label>
                <div class="layui-input-inline">
                    <input type="number" name="semester" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>

<!-- 数据表格 -->
<div>
    <table class="layui-hide" id="coursePlanTable" lay-filter="coursePlanTable"></table>
    <!-- 表格顶部按钮 -->
    <div id="coursePlanToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-normal"><span class="layui-icon layui-icon-add-1"></span>添加教学计划</button>
        <button type="button" lay-event="batchDelete" class="layui-btn layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
    </div>
    <!-- 表格行内按钮 -->
    <div id="coursePlanRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-edit"></span>修改</button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
    </div>
</div>

<!-- 添加和修改的弹出层 -->
<div style="display: none; padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <input type="hidden" name="id">
        <div class="layui-form-item input-item">
            <label for="deptNo">选择学院</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="deptNo" name="deptNo" class="layui-select" lay-filter="deptSearch" lay-verify="required" >
                    <option value="">请选择添加计划的学院</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="majorNo">选择专业</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="majorNo" name="majorNo" class="layui-select" lay-filter="majorSearch" lay-verify="required" >
                    <option value="">请选择添加计划的专业</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="courseNo">选择课程</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="courseNo" name="courseNo" class="layui-select" lay-search="" lay-filter="clazzSearch" lay-verify="required" >
                    <option value="">直接选择或搜索选择添加计划的课程<option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="grade">年级</label>
            <input type="text" placeholder="请输入年级" autocomplete="off" id="grade" name="grade" class="layui-input">
        </div>
        <div class="layui-form-item input-item">
            <label for="semester">建议修读学期</label>
            <input type="number" placeholder="请输入建议修读学期" autocomplete="off" id="semester" name="semester" class="layui-input">
        </div>
        <div class="layui-form-item input-item">
            <label for="remark">备注</label>
            <input type="text" placeholder="请输入备注" autocomplete="off" id="remark" name="remark" class="layui-input">
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit"><span class="layui-icon layui-icon-add-circle"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //加载表格数据
        var tableIns = table.render({
            elem: '#coursePlanTable'
            ,height: 'full'
            ,url:'/coursePlan/loadAllCoursePlan'
            ,toolbar: '#coursePlanToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '教学计划列表'
            ,page: true
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', align:'center'}
                ,{field:'deptName', title:'院系名称', align:'center'}
                ,{field:'majorName', title:'专业名称', align:'center'}
                ,{field:'grade', title:'年级', align:'center'}
                ,{field:'courseName', title:'课程名称', align:'center'}
                ,{field:'credit', title:'学分', align:'center'}
                ,{field:'semester', title:'推荐修课学期', align:'center'}
                ,{field:'isRequired', title:'是否必修', align:'center', templet:function (data) {
                        if(data.isRequired == 0) return '选修';
                        else return '必修';
                    }}
                ,{field:'testType', title:'考察方式', align:'center', templet:function (data) {
                        if(data.testType == 0) return '考察';
                        else return '考试';
                    }}
                ,{field:'remark', title:'备注', align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#coursePlanRowBar', align:'center', width:'20%'}
            ] ]
        })
        //工具栏表单模糊查询
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        })
        //表格顶部监听事件
        table.on("toolbar(coursePlanTable)",  function(obj){
            addOperation({});
            switch(obj.event){
                case 'add':
                    openAddLayer();
                    break;
                case 'batchDelete':
                    batchDelete();
                    break;
            }
        })
        //表格行内监听事件
        table.on("tool(coursePlanTable)",  function(obj){
            //获取当前行数据并传入
            var data = obj.data;
            //为表单填入选择框选项
            addOperation(data);
            switch(obj.event){
                case 'update':
                    openUpdateLayer(data);
                    break;
                case 'delete':
                    deleteCoursePlan(data);
                    break;
            }
        })
        //存储弹出层，用于在提交更改后关闭
        var mainIndex;
        //存储弹出层对应后端接口
        var url;
        //打开用于数据添加的弹出层
        function openAddLayer() {
            //每次打开新增弹出层时，清空隐藏栏中的id
            $("input[name='id']").val("");
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px', '600px'],
                title:"新增教学计划信息",
                success:function () {
                    //重置表单
                    $("#dataFrm")[0].reset();
                    url = '/coursePlan/addCoursePlan';
                }
            })
        }
        //打开用于数据修改的弹出层
        function openUpdateLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px', '600px'],
                title:"修改教学计划信息",
                success:function () {
                    //重置表单
                    $("#dataFrm")[0].reset();
                    //将原表数据填入表单
                    form.val("dataFrm", data);

                    url = '/coursePlan/updateCoursePlan';
                }
            })
        }
        //为弹出层的下拉选择框填充数据
        function addOperation(data) {
            //保存打开下拉框的对应行数据
            localData = data;
            //学院下拉框
            $.ajax({
                url: '/dept/loadAllDept',
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (deptData) {
                    var inform = '';
                    //每次加载时清空原数据
                    $('#deptNo').children().remove();
                    //重新载入一条提示信息
                    $('#deptNo').append(new Option('请选择学院', ''));
                    $.each(deptData.data, function (index, value) {
                        $('#deptNo').append(new Option(value.name, value.deptNo));// 下拉菜单里添加元素
                    });
                    // 在修改中，当某一学院目前被选中时，通过学院编号选中对应标签
                    const value = data.deptNo;
                    if (null !== value && value !== "") {
                        $('#deptNo').find("option[value=" + value + "]").attr("selected", true);
                    }
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
            //专业下拉框，在打开菜单时也重新加载
            var deptNo = $('#deptNo').val();
            $.ajax({
                url: '/major/getByDeptNo?deptNo=' + deptNo,
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (majorData) {
                    //每次加载时清空原数据
                    $('#majorNo').children().remove();
                    //重新载入一条提示信息
                    $('#majorNo').append(new Option('请选择专业', ''));
                    $.each(majorData.data, function (index, value) {
                        $('#majorNo').append(new Option(value.name, value.majorNo));// 下拉菜单里添加元素
                    });

                    // 在修改中，当某一专业目前被选中时，通过专业编号选中对应标签
                    const value = localData.majorNo;
                    if (null !== value && value !== "") {
                        $('#majorNo').find("option[value=" + value + "]").attr("selected", true);
                    }
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
            //课程下拉框
            $.ajax({
                url: '/course/loadAllCourse',
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (courseData) {
                    //每次加载时清空原数据
                    $('#courseNo').children().remove();
                    //重新载入一条提示信息
                    $('#courseNo').append(new Option('直接选择或搜索选择添加计划的课程', ''));
                    $.each(courseData.data, function (index, value) {
                        $('#courseNo').append(new Option(value.name, value.courseNo));// 下拉菜单里添加元素
                    });
                    // 在修改中，当某一课程目前被选中时，通过课程编号选中对应标签
                    const value = data.courseNo;
                    if (null !== value && value !== "") {
                        $('#courseNo').find("option[value=" + value + "]").attr("selected", true);
                    }
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
        }
        //专业下拉框重加载
        form.on('select(deptSearch)', function () {
            //获取一级的数据
            var deptNo = $('#deptNo').val();
            $.ajax({
                url: '/major/getByDeptNo?deptNo=' + deptNo,
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (majorData) {
                    //每次加载时清空原数据
                    $('#majorNo').children().remove();
                    //重新载入一条提示信息
                    $('#majorNo').append(new Option('请选择专业', ''));
                    $.each(majorData.data, function (index, value) {
                        $('#majorNo').append(new Option(value.name, value.majorNo));// 下拉菜单里添加元素
                    });

                    // 在修改中，当某一专业目前被选中时，通过专业编号选中对应标签
                    const value = localData.majorNo;
                    if (null !== value && value !== "") {
                        $('#majorNo').find("option[value=" + value + "]").attr("selected", true);
                    }
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
        })
        //添加和修改的提交
        form.on("submit(doSubmit)", function(data) {
            $.post(url, data.field, function (res) {
                if(res.code == 0){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })

            return false;
        })
        //批量删除方法
        function batchDelete() {
            //得到选中行
            var checkStatus = table.checkStatus('coursePlanTable');
            //获得选中行数量
            var dataLength = checkStatus.data.length;
            if(dataLength > 0){
                //询问是否删除
                layer.confirm('确定要删除这些数据吗?', {icon: 3, title:'提示'}, function(index){
                    //获得选中行数据
                    var data = checkStatus.data;
                    //返回字符串
                    var ids = '';
                    $.each(data, function (index, item) {
                        if(index == 0){
                            ids += "ids=" + item.id;
                        }else{
                            ids += "&ids=" + item.id;
                        }
                    });
                    $.post("/coursePlan/batchDeleteCoursePlan", ids, function (res) {
                        if(res.code == 0){
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                    layer.close(index);
                });
            }else{
                layer.msg("请选中操作行");
            }
        }
        //单条删除方法
        function deleteCoursePlan(data) {
            //询问是否删除
            layer.confirm('确定要删除这条数据吗?', {icon: 3, title:'提示'}, function(index){
                //返回单个id
                $.post("/coursePlan/deleteCoursePlan", {id : data.id}, function (res) {
                    if(res.code == 0){
                        tableIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }
    })
</script>
</body>
</html>