<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 工具栏 -->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学院编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="deptNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">课程编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="courseNo" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">课程名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-inline input-item">
                <label class="layui-form-label">需要教室类别</label>
                <div class="layui-select">
                    <select name="classroomType" class="layui-select" lay-verify="required" >
                        <option value="" selected>请选择教室类型</option>
                        <option value="0">普通</option>
                        <option value="1">特殊</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline input-item">
                <label class="layui-form-label">需要教室类别</label>
                <div class="layui-select">
                    <select name="testType" class="layui-select" lay-verify="required" >
                        <option value="" selected>请选择考试方式</option>
                        <option value="0">考察</option>
                        <option value="1">考试</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>

<!-- 数据表格 -->
<div>
    <table class="layui-hide" id="courseTable" lay-filter="courseTable"></table>
    <!-- 表格顶部按钮 -->
    <div id="courseToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-normal"><span class="layui-icon layui-icon-add-1"></span>添加课程</button>
        <button type="button" lay-event="batchDelete" class="layui-btn layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
    </div>
    <!-- 表格行内按钮 -->
    <div id="courseRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-edit"></span>修改</button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
    </div>
</div>

<!-- 添加和修改的弹出层 -->
<div style="display: none; padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <input type="hidden" name="id">
        <div class="layui-form-item input-item">
            <label for="deptNo">所在学院</label>
            <div class="layui-select">
                <!-- 用于填充数据的下拉列表 -->
                <select id="deptNo" name="deptNo" class="layui-select" lay-verify="required" >
                    <option value="">请选择课程所属学院</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="courseNo">课程编号</label>
            <input type="text" placeholder="请输入课程编号" autocomplete="off" id="courseNo" name="courseNo" class="layui-input" lay-verify="required">
        </div>
        <div class="layui-form-item input-item">
            <label for="name">课程名称</label>
            <input type="text" placeholder="请输入课程名称" autocomplete="off" id="name" name="name" class="layui-input" lay-verify="required">
        </div>
        <div class="layui-form-item input-item">
            <label for="credit">学分</label>
            <input type="number" placeholder="请输入学分" autocomplete="off" id="credit" name="credit" class="layui-input" lay-verify="required">
        </div>
        <div class="layui-form-item input-item">
            <label for="classroomType">需要教室类型</label>
            <div class="layui-select">
                <select id="classroomType" name="classroomType" class="layui-select" lay-verify="required" >
                    <option value="" selected>请选择课程需要教室类型</option>
                    <option value="0">普通</option>
                    <option value="1">特殊</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="isRequired">是否必修</label>
            <div class="layui-select">
                <select id="isRequired" name="isRequired" class="layui-select" lay-verify="required" >
                    <option value="" selected>请选择课程类型</option>
                    <option value="0">选修</option>
                    <option value="1">必修</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="testType">考察方式</label>
            <div class="layui-select" selected>
                <select id="testType" name="testType" class="layui-select" lay-verify="required" >
                    <option value="">请选择课程考察方式</option>
                    <option value="0">考察</option>
                    <option value="1">考试</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item input-item">
            <label for="description">描述</label>
            <input type="text" placeholder="请输入描述" autocomplete="off" id="description" name="description" class="layui-input">
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit"><span class="layui-icon layui-icon-add-circle"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //加载表格数据
        var tableIns = table.render({
            elem: '#courseTable'
            ,height: 'full'
            ,url:'/course/loadAllCourse'
            ,toolbar: '#courseToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '课程列表'
            ,page: true
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', align:'center'}
                ,{field:'deptNo', title:'学院编号', align:'center'}
                ,{field:'courseNo', title:'课程编号', align:'center'}
                ,{field:'name', title:'课程名称', align:'center'}
                ,{field:'classroomType', title:'教室类型', align:'center', templet:function (data) {
                        if(data.classroomType == 0) return '普通';
                        else return '特殊';
                    }}
                ,{field:'isRequired', title:'是否必修', align:'center', templet:function (data) {
                        if(data.isRequired == 0) return '选修';
                        else return '必修';
                    }}
                ,{field:'testType', title:'考察方式', align:'center', templet:function (data) {
                        if(data.testType == 0) return '考察';
                        else return '考试';
                    }}
                ,{field:'description', title:'描述', align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#courseRowBar', align:'center', width:'20%'}
            ] ]
        })
        //工具栏表单模糊查询
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        })
        //表格顶部监听事件
        table.on("toolbar(courseTable)",  function(obj){
            addOperation(null);
            switch(obj.event){
                case 'add':
                    openAddLayer();
                    break;
                case 'batchDelete':
                    batchDelete();
                    break;
            }
        })
        //表格行内监听事件
        table.on("tool(courseTable)",  function(obj){
            //获取当前行数据并传入
            var data = obj.data;
            //为表单填入选择框选项
            addOperation(data);
            switch(obj.event){
                case 'update':
                    openUpdateLayer(data);
                    break;
                case 'delete':
                    deleteCourse(data);
                    break;
            }
        })
        //存储弹出层，用于在提交更改后关闭
        var mainIndex;
        //存储弹出层对应后端接口
        var url;
        //打开用于数据添加的弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px', '600px'],
                title:"新增课程信息",
                success:function () {
                    //重置表单
                    $("#dataFrm")[0].reset();
                    url = '/course/addCourse';
                }
            })
        }
        //打开用于数据修改的弹出层
        function openUpdateLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px', '600px'],
                title:"修改课程信息",
                success:function () {
                    //重置表单
                    $("#dataFrm")[0].reset();
                    //将原表数据填入表单
                    form.val("dataFrm", data);

                    url = '/course/updateCourse';
                }
            })
        }
        //为弹出层数据下拉选择框填充数据
        function addOperation(localData) {
            $.ajax({
                url: '/dept/loadAllDept',
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function (data) {
                    //每次加载时清空原数据
                    $('#deptNo').children().remove();
                    //重新载入一条提示信息
                    $('#deptNo').append(new Option('请选择课程所在学院', ''));
                    $.each(data.data, function (index, value) {
                        $('#deptNo').append(new Option(value.name, value.deptNo));// 下拉菜单里添加元素
                    });

                    // 在修改中，当某一学院目前被选中时，通过学院编号选中对应标签
                    const value = localData.deptNo;
                    if (null !== value && value !== "") {
                        $('#deptNo').find("option[value=" + value + "]").attr("selected", true);
                    }
                    //刷新选项中的select标签
                    layui.form.render("select");
                }
            });
        }
        //添加和修改的提交
        form.on("submit(doSubmit)", function(data) {
            $.post(url, data.field, function (res) {
                if(res.code == 0){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })

            return false;
        })
        //批量删除方法
        function batchDelete() {
            //得到选中行
            var checkStatus = table.checkStatus('courseTable');
            //获得选中行数量
            var dataLength = checkStatus.data.length;
            if(dataLength > 0){
                //询问是否删除
                layer.confirm('确定要删除这些数据吗?', {icon: 3, title:'提示'}, function(index){
                    //获得选中行数据
                    var data = checkStatus.data;
                    //返回字符串
                    var ids = '';
                    $.each(data, function (index, item) {
                        if(index == 0){
                            ids += "ids=" + item.id;
                        }else{
                            ids += "&ids=" + item.id;
                        }
                    });
                    $.post("/course/batchDeleteCourse", ids, function (res) {
                        if(res.code == 0){
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                    layer.close(index);
                });
            }else{
                layer.msg("请选中操作行");
            }
        }
        //单条删除方法
        function deleteCourse(data) {
            //询问是否删除
            layer.confirm('确定要删除这条数据吗?', {icon: 3, title:'提示'}, function(index){
                //返回单个id
                $.post("/course/deleteCourse", {id : data.id}, function (res) {
                    if(res.code == 0){
                        tableIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });

        }
    })
</script>
</body>
</html>