<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.Student">
        <id column="id" property="id" />
        <result column="student_no" property="studentNo" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="user_type" property="userType" />
        <result column="grade" property="grade" />
        <result column="dept_no" property="deptNo" />
        <result column="major_no" property="majorNo" />
        <result column="clazz_no" property="clazzNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_no, password, name, sex, user_type, grade, dept_no, major_no, clazz_no
    </sql>

</mapper>
