<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.ClassroomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.base.Classroom">
        <id column="id" property="id" />
        <result column="classroom_no" property="classroomNo" />
        <result column="name" property="name" />
        <result column="classroom_type" property="classroomType" />
        <result column="build" property="build" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classroom_no, name, classroom_type, build, description
    </sql>

</mapper>
