<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.CoursePlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.CoursePlan">
        <id column="id" property="id" />
        <result column="dept_no" property="deptNo" />
        <result column="major_no" property="majorNo" />
        <result column="course_no" property="courseNo" />
        <result column="grade" property="grade" />
        <result column="semester" property="semester" />
        <result column="remark" property="remark" />
    </resultMap>
    <!-- 教学计划联查集 -->
    <resultMap id="CoursePlanMap" type="com.graduation.demo.vo.business.CoursePlanVo">
        <id column="id" property="id" />
        <result column="dept_no" property="deptNo" />
        <result column="dept_name" property="deptName" />
        <result column="major_no" property="majorNo" />
        <result column="major_name" property="majorName" />
        <result column="grade" property="grade" />
        <result column="course_no" property="courseNo" />
        <result column="course_name" property="courseName" />
        <result column="credit" property="credit" />
        <result column="is_required" property="isRequired" />
        <result column="test_type" property="testType" />
        <result column="semester" property="semester" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_no, major_no, course_no, grade, semester, remark
    </sql>

    <!-- 教学计划联查结果列 -->
    <select id="getCoursePlanVo" resultMap="CoursePlanMap">
        select cp.id, cp.dept_no, d.name dept_name, cp.major_no, m.name major_name,
        cp.grade, cp.course_no, c.name course_name, c.credit, c.is_required, c.test_type,
        cp.semester, cp.remark
        from xk_course_plan cp, xk_dept d, xk_major m, xk_course c
        where cp.course_no = c.course_no
        and cp.dept_no = d.dept_no
        and cp.major_no = m.major_no
        order by cp.semester asc
    </select>

    <!-- 教学计划条件查询联查结果列 -->
    <select id="getCoursePlanVoWithCond" parameterType="com.graduation.demo.entity.CoursePlan" resultMap="CoursePlanMap">
        select cp.id, cp.dept_no, d.name dept_name, cp.major_no, m.name major_name,
        cp.grade, cp.course_no, c.name course_name, c.credit, c.is_required, c.test_type,
        cp.semester, cp.remark
        from xk_course_plan cp, xk_dept d, xk_major m, xk_course c
        where cp.course_no = c.course_no
        and cp.dept_no = d.dept_no
        and cp.major_no = m.major_no
        <if test="deptNo != null">and cp.dept_no = #{deptNo}</if>
        <if test="majorNo != null">and cp.major_no = #{majorNo}</if>
        <if test="courseNo != null">and cp.course_no = #{courseNo}</if>
        <if test="grade != null">and cp.grade = #{grade}</if>
        <if test="semester != null">and cp.semester = #{semester}</if>
        order by cp.semester asc
    </select>

</mapper>
