<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.CourseScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.CourseScore">
        <id column="id" property="id" />
        <result column="select_course_no" property="selectCourseNo" />
        <result column="normal_score" property="normalScore" />
        <result column="exam_score" property="examScore" />
        <result column="total_score" property="totalScore" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, select_course_no, normal_score, exam_score, total_score, remark
    </sql>

</mapper>
