<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.CourseArrangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.business.CourseArrange">
        <id column="id" property="id" />
        <result column="teach_course_no" property="teachCourseNo" />
        <result column="classroom_no" property="classroomNo" />
        <result column="week" property="week" />
        <result column="period" property="period" />
        <result column="remark" property="remark" />
    </resultMap>
    <!-- 排课管理联查集 -->
    <resultMap id="CourseArrangeMap" type="com.graduation.demo.vo.business.CourseArrangeVo">
        <id column="id" property="id" />
        <result column="teach_course_no" property="teachCourseNo" />
        <result column="classroom_no" property="classroomNo" />
        <result column="classroom_name" property="classroomName" />
        <result column="classroom_type" property="classroomType" />
        <result column="week" property="week" />
        <result column="period" property="period" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teach_course_no, classroom_no, week, period, remark
    </sql>

    <!-- 排课管理条件查询联查结果列 -->
    <select id="loadAllCourseArrange" parameterType="com.graduation.demo.entity.business.CourseArrange" resultMap="CourseArrangeMap">
        select ca.id, ca.teach_course_no, ca.classroom_no, c.name classroom_name,
        c.classroom_type, ca.week, ca.period, ca.remark
        from xk_course_arrange ca, xk_classroom c
        where  ca.classroom_no = c.classroom_no
        <if test="cav.teachCourseNo != null">and ca.teach_course_no like '%${cav.teachCourseNo}%'</if>
        <if test="cav.classroomNo != null">and ca.classroom_no like '%${cav.classroomNo}%'</if>
        <if test="cav.week != null">and ca.week = #{cav.week}</if>
        <if test="cav.period != null">and ca.period = #{cav.period}</if>
    </select>

</mapper>
