<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.Menu">
        <id column="id" property="id" />
        <result column="menu_no" property="menuNo" />
        <result column="name" property="name" />
        <result column="parent_no" property="parentNo" />
        <result column="icon" property="icon" />
        <result column="component" property="component" />
        <result column="type" property="type" />
        <result column="perms" property="perms" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_no, name, parent_no, icon, component, type, perms, remark
    </sql>

</mapper>
