<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.SelectCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.SelectCourse">
        <id column="id" property="id" />
        <result column="teach_course_no" property="teachCourseNo" />
        <result column="student_no" property="studentNo" />
        <result column="course_no" property="courseNo" />
        <result column="semester" property="semester" />
        <result column="normal_score" property="normalScore" />
        <result column="exam_score" property="examScore" />
        <result column="total_score" property="totalScore" />
        <result column="remark" property="remark" />
    </resultMap>
    <!-- 选课管理联查集 -->
    <resultMap id="SelectCourseMap" type="com.graduation.demo.vo.SelectCourseVo">
        <id column="id" property="id" />
        <result column="teach_course_no" property="teachCourseNo" />
        <result column="student_no" property="studentNo" />
        <result column="student_name" property="studentName" />
        <result column="course_no" property="courseNo" />
        <result column="course_name" property="courseName" />
        <result column="credit" property="credit" />
        <result column="semester" property="semester" />
        <result column="normal_score" property="normalScore" />
        <result column="exam_score" property="examScore" />
        <result column="total_score" property="totalScore" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teach_course_no, student_no, semester, normal_score, exam_score, total_score, remark
    </sql>

    <!-- 选课管理联查结果列 -->
    <select id="getSelectCourseVo" resultMap="SelectCourseMap">
        select sc.id, sc.teach_course_no, s.name student_name,
        tc.course_no, c.name course_name, c.credit, sc.semester,
        sc.normal_score, sc.exam_score, sc.total_score, sc.remark
        from xk_student s, xk_course c, xk_select_course sc,
        (select teach_course_no, course_no from xk_teach_course) tc
        where sc.teach_course_no = tc.teach_course_no
        and sc.student_no = s.student_no
        and tc.course_no = c.course_no
        order by teach_course_no asc
    </select>

    <!-- 选课管理条件查询联查结果列 -->
    <select id="getSelectCourseVoWithCond" parameterType="com.graduation.demo.entity.SelectCourse" resultMap="SelectCourseMap">
        select sc.id, sc.teach_course_no, s.name student_name,
        tc.course_no, c.name course_name, c.credit, sc.semester,
        sc.normal_score, sc.exam_score, sc.total_score, sc.remark
        from xk_student s, xk_course c, xk_select_course sc,
        (select teach_course_no, course_no from xk_teach_course) tc
        where sc.teach_course_no = tc.teach_course_no
        and sc.student_no = s.student_no
        and tc.course_no = c.course_no
        <if test="teachCourseNo != null">and sc.teach_course_no = #{teachCourseNo}</if>
        <if test="studentNo != null">and sc.student_no = #{studentNo}</if>
        <if test="semester != null">and sc.semester = #{semester}</if>
        order by teach_course_no asc
    </select>
</mapper>
