<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.demo.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.demo.entity.Teacher">
        <id column="id" property="id" />
        <result column="teacher_no" property="teacherNo" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="user_type" property="userType" />
        <result column="position" property="position" />
        <result column="depr_no" property="deprNo" />
        <result column="telephone" property="telephone" />
        <result column="emali" property="emali" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_no, name, password, sex, user_type, position, depr_no, telephone, emali
    </sql>

</mapper>
